<h1>Product List Page</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Name</th><th>Price</th><th>Available</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td [style.color]="green" [style.font-weight]="700">{{p.name}}</td>
            <td>{{p.price}}</td>
            <td [class.inStock]="true">{{p.availabiliy}}</td>
            <td [style.color]="p.rating>=4.5?'green':'red'" 
                [style.font-weight]="700" >{{p.rating}}</td>
        </tr>
    </tbody>
</table>